doctype html
html
  head
    link(rel="stylesheet" href="index.css" type="text/css")
    link(rel="stylesheet" href="article.css" type="text/css")
  body
    .container
      h1 Title
      each article in data
        include ./article/article-item.pug
