@import "./global.less";
@item-padding: 100px;
@item-height: 380px;
@title-height: 45%;
@margin-size: 1.4em;
@mini-height: @item-height * .7;
@mini-padding: @item-padding * .7;
.article-item{
  position: relative;
  height: @item-height;
  padding: 0px @item-padding;
  background: #fff;
  &.mini{
    height: @mini-height;
    padding: 0px @mini-padding;
    &+&{
      margin-top: @margin-size * .8;
    }
    .title-wrapper{
      margin: 0 -@mini-padding;
      padding: 0 @mini-padding;
      .tag-group{
        padding-top: 1.4em;
      }
    }
    .footer-wrapper{
      font-size: .8em;
    }
    .summary>a{
      -webkit-box-orient: vertical;
      .line(3);
    }
  }

  &+&{
    margin-top: @margin-size;
  }
  .title-wrapper{
    height: @title-height;
    margin: 0 -@item-padding;
    padding: 0 @item-padding;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    .tag-group{
      text-align: right;
      padding-top: 2em;
    }
    .title:after{
      content: " ";
      display: block;
      width: 80px;
      height: 1px;
      background: #eee;
    }
    &.banner{
      .title:after{
        display: none;
      }
    }
  }
  .summary-wrapper{
    height: 100% - @title-height;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 1.2em 0;
  }
  .footer-wrapper{
    display: flex;
    justify-content: space-between;
    color: @color-sencond;
    font-size: .9em;
  }
  .summary {
    color: darken(@color-sencond, 40%);
    &>a{
      .line(4);
    }
  }
  &:hover{
    box-shadow: @shadow;
  }
}
@media (max-width: 768px) {
  @item-padding: 20px;
  @title-height: 45%;
  @margin-size: 1em;
  @mini-height: @item-height * .7;
  @mini-padding: @item-padding * .7;
  .article-item{
    height: @mini-height;
    padding: 0px @mini-padding;
    &+&{
      margin-top: @margin-size * .8;
    }
    .title-wrapper{
      margin: 0 -@mini-padding;
      padding: 0 @mini-padding;
      justify-content: flex-end;
    }
    .footer-wrapper{
      font-size: .5em;
    }
    .summary>a{
      .line(3);
    }
    .tag-group{
      display: none;
    }
    &.mini{
      height: @mini-height;
      padding: 0px @mini-padding;
      &+&{
        margin-top: @margin-size * .8;
      }
      .title-wrapper{
        margin: 0 -@mini-padding;
        padding: 0 @mini-padding;
      }
      .footer-wrapper{
        font-size: .5em;
      }
      .summary>a{
        .line(3);
      }
    }
  }
}
