@import "./global.less";
body {
  font-size: @font-size;
  background: @background;
  line-height: 1.6;
}
input, textarea, body, button, a, p{
  font-family: -apple-system,"Microsoft YaHei", "Helvetica Neue",Arial,"PingFang SC","Hiragino Sans GB","WenQuanYi Micro Hei",sans-serif;
  font-weight: 100;
}
h1,h2,h3,h4,h5,h6 {
  font-weight: normal;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a {
  color: inherit;
  text-decoration: none;
}
ul {
  list-style:none;
}

label.required{
  &:after{
    content: "*";
    color: @color-import;
    margin-left: 8px;
  }
}

.row{
  margin: 0 -@row-padding+1;
  &+&{
    margin-top: @margin-size;
  }
}
.width-100{
  width: 100%;
  padding: 0px @row-padding;
}
input, textarea{
  background: none;
  border: 0;
  border-bottom: 1px solid @color-input;
  outline: none;
  color: rgba(0, 0, 0, 0.8);
  padding: 10px 0;
}
.input-group{
  display: flex;
  align-items: center;
  &.top{
    align-items: flex-start;
  }
  &>label{
    margin-right: 10px;
  }
  &>input{
    flex: 1;
  }
}


.container{
  max-width: @container-width;
  margin: auto;
}
.margin-left-0{
  margin-left: 0;
}
.banner{
  color: #fff;
  background-size:cover;
  background-position: 50%;
  .text-shadow {
    text-shadow: 1px 1px 4px #000;
  }
}
.text-ellipsis{
  overflow: hidden;
  white-space: nowrap;
  text-overflow:ellipsis;
}
.text-right{
  text-align: right;
}
.text-left{
  text-align: left;
}
.tag{
  background: #fff;
  color: #333;
  font-size: .8em;
  padding: 0px 10px;
  border-radius: 50px;
  margin: 0 5px;
  .border(#f1f1f1);
}
.title{
  font-size: @title;
  font-weight: normal;
}
.flex{
  display: flex;
}
.flex-between{
  justify-content: space-between;
}
.flex-1{
  flex: 1;
}
.flex-2{
  flex: 2;
}
.flex-3{
  flex: 3;
}
.flex-4{
  flex: 4;
}
.is-link{
  cursor: pointer;
}
@media (max-width: 768px) {
  body{
    font-size: @font-mobile;
  }
  input, textarea, body, button, a, p{
    font-weight: normal;
  }
  h1,h2,h3,h4,h5,h6 {
    font-weight: bold;
  }
  .flex{
    flex-wrap: wrap;
  }
}
