@import "./global.less";
body {
  font-size: @font-size;
  background: @background;
  line-height: 1.6;
}
input, textarea, body, button, a, p{
  font-family: -apple-system,"Microsoft YaHei", "Helvetica Neue",Arial,"PingFang SC","Hiragino Sans GB","WenQuanYi Micro Hei",sans-serif;
  font-weight: 100;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a {
  color: inherit;
  text-decoration: none;
}

.container{
  max-width: 1024px;
  margin: auto;
}
.banner{
  color: #fff;
  background-size:cover;
  background-position: 50%;
  .text-shadow {
    text-shadow: 1px 1px 4px #000;
  }
}
.text-ellipsis{
  overflow: hidden;
  white-space: nowrap;
  text-overflow:ellipsis;
}
.text-right{
  text-align: right;
}
.text-left{
  text-align: left;
}
.tag{
  background: #fff;
  color: #333;
  font-size: .6em;
  padding: 0px 10px;
  border-radius: 50px;
  margin: 0 5px;
  .border(#f1f1f1);
}
.title{
  font-size: @title;
  font-weight: normal;
}
.flex{
  display: flex;
}
.flex-1{
  flex: 1;
}
.flex-2{
  flex: 2;
}
.flex-3{
  flex: 3;
}
.flex-4{
  flex: 4;
}
@media (max-width: 768px) {
  body{
    font-size: @font-mobile;
  }
  .flex{
    flex-wrap: wrap;
  }
}
