extends layout.pug
block head
  link(rel="stylesheet" href="/article.css" type="text/css")

block title
  title blog-home

block content
  .container
    h1 Title
    each article in data
      include ./article/article-item.pug
