@import "./global.less";
.article-item{
  position: relative;
  width: 70vw;
  margin: auto;
  background: #fff;
  margin-bottom: @margin-size;
  border-radius: @radius;
  overflow: hidden;
  @item-padding: 7vw;
  .title-wrapper{
    padding: @item-padding;
    padding-top: @item-padding * 1.3;
    padding-bottom: @item-padding/ 8;
    &:after{
      content: " ";
      display: block;
      width: 10vw;
      height: 1px;
      margin-top: @item-padding / 8;
      background: #eee;
    }
    &.img{
      &:after{
        display: none;
      }
      color: #fff;
    }
  }
  .title{
    font-size: @title;
  }
  .footer-wrapper{
    text-align: right;
    padding: @item-padding / 2;
    color: @color-sencond;
  }
  .content {
    font-size: @font-size;
    height: @item-padding;
    margin-top: @margin-size;
    padding: 0 @item-padding;
    color: darken(@color-sencond, 40%);
    overflow: hidden;
  }
  &:hover{
    box-shadow: 0px 0px 15px #bbb;
    cursor: pointer;
  }
}
